<div class="center">
  <form class="edit-route-form" [formGroup]="routeForm">
    <fieldset>
      <label>Average fuel consumption</label>
      <input type="number" formControlName="averageConsumption" placeholder="7.5" step="0.1" min="1" max="20"/>
    </fieldset>
    <h3>Route</h3>
    <div formArrayName="waypoints">
      <ng-container *ngFor="let waypoint of routeForm.get('waypoints').controls; let i = index">
        <fieldset [formGroupName]="i">
          <button class="square" [attr.disabled]="canRemoveWaypoint(i) ? null : ''" (click)="removeWaypoint(i)" type="buttom" tabindex="-1">-</button>
          <button class="square" (click)="addWaypoint(i)" type="buttom" tabindex="-1">+</button>
          <input type="text" formControlName="name" placeholder="{{getNamePlaceholder(i)}}"/>
          <span>at</span>
          <input type="number" formControlName="distance"/>
          <span>km</span>
        </fieldset>
        </ng-container>
    </div>
    <button type="submit">Submit</button>
  </form>  
</div>
<p>Form value: {{ routeForm.value | json }}</p>
<p>Form status: {{ routeForm.status | json }}</p>